* {
    padding: 5;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana' sans-serif;
    margin: 0;
    background-color: #d01717;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.gallery-title {
    text-align: center;
    font-size: 2.5rem; /* Tamanho do Titulo*/
    color: #333;
    margin-bottom: 40px;
}

.gallery-grind {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1px));
    gap: 20px;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba (0, 0, 0, 0.15);
}

.gallery-item img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    display: block;
    transition: transform 0.2s ease;
}

.gallery-item img:hover {
    transform: scale(1.50);
}